*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  }
 
   body *{
     font-family: 'Roboto' sans-serif;
   }
 
  body{
   background-color: #655486;
  }
 
  #app * {
    
  }
 
  #app{
   display: grid;
   grid-template-columns: max-content max-content;
   grid-template-areas: 
   'A B'
   'A C';
   
   gap: 32px;
   place-content: center;
   height: 100vh;
  }
  /*Player-1*/
  #Player-1{
   grid-area: A;
   padding: 50px 38px;
 
  }
 
  #player-1 img{
    width: 300px;
    height: 190px;
    object-fit: cover;
    border-radius: 6px;
  }
 
  #Player-1 .wrapper{
   width: 190px;
 }
 
  #Player-1 .info{
    margin-top: 28px;
  }
  /*Player-2*/
  #Player-2{
   grid-area: B;
  }
 /*Player-3*/
  #Player-3{
   grid-area: C;
  }
 
  .Player{
    background-color: #22153d;
    padding: 28px;
    border-radius: 10px;
 }
 
  .info{
    color: #4181a7;
    display: grid;
    gap: 9.6px;
 }
 
  .Info h1{
   font-size: 24px;
   }
 
  .Info p{
   opacity: 0.67;
   font-size: 19px;
  }
 
  .controls{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
  }
 
  .track{
    margin-top: 28px;
    position: relative;
  }
  
  .track::before{
    content: '';
    height: 6px;
    width: 100%;
    display: block;
    background-color: #d84315;
    opacity: 0.5;
    border-radius: 10px;
 
    position: absolute;
  }
 
   .track::after{
     content: '';
    height: 6px;
    width: 80%;
    display: block;
    background-color: #d84315;
   }
    .time{
    font-size: 14px;
    color: #C4C4CC;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    margin-top: 9.6px;
  }
 
 
 
 
  